<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin table Examples</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/lib/amazeUI_admin/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/lib/amazeUI_admin/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/lib/amazeUI_admin/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/lib/amazeUI_admin/css/admin.css">
</head>
<body>
<!--header start-->
<% include admin-header.ejs %>
<!--header end-->

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <% include admin-sidebar.ejs %>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">广告管理</strong> / <small>全部广告</small></div>
      </div>

      <hr>

      <div class="am-g">
        <% include admin-search.ejs %>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th><th class="table-title">申请日期</th>
                <th class="table-type">网站主</th><th class="table-author am-hide-sm-only">域名</th>
                <th class="table-type">站点类型</th><th class="table-author am-hide-sm-only">状态</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              <% for(var site of data.sites) {%>
              <tr>
                <td><input type="checkbox" /></td>
                <td><%= site.nId %></td>
                <td><%= site.sWebRegisterDate %></td>
                <td><a href="#"><%= site.sOwnerName %></a></td>
                <td><%= site.sWebDomain %></td>
                <td class="am-hide-sm-only"><%= site.sWebCategory %></td>
                <td class="am-hide-sm-only"><%= site.sWebState %></td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <form style="display: inline-block">
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-pencil-square-o"></span>删除</button>
                      </form>
                      <form method="post" action="/admin/site/active" style="display: inline-block">
                        <input style="display:none" name="nId" value=<%= site.nId %> />
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>启用</button>
                      </form>
                      <form method="post" action="/admin/site/lock" style="display: inline-block">
                        <input style="display:none" name="nId" value=<%= site.nId %> />
                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-pencil-square-o"></span>锁定</button>
                      </form>

                    </div>
                  </div>
                </td>
              </tr>
              <% }%>
              </tbody>
            </table>
            <div class="am-cf">
              共 <%= data.sites.length %> 条记录

            </div>
            <hr />

          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>

<!--footer and base js begin-->
<% include admin-footer.ejs %>
<!--footer and base js end-->
</body>
</html>
