<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin table Examples</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/lib/amazeUI_admin/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/lib/amazeUI_admin/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/lib/amazeUI_admin/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/lib/amazeUI_admin/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<% include admin-header.ejs %>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <% include admin-sidebar.ejs %>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员管理</strong> / <small>全部会员</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          </div>
        </div>
        <% include admin-search.ejs %>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th><th class="table-title">用户名</th>
                <th class="table-type">qq</th><th class="table-author am-hide-sm-only">类型</th>
                <th class="table-type">余额</th>
                <th class="table-date am-hide-sm-only">注册日期</th><th class="table-author am-hide-sm-only">状态</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              <% for(var user of data.users) {%>
              <tr>
                <td><input type="checkbox" /></td>
                <td><%= user.nId %></td>
                <td><a href="#"><%= user.sUserName %></a></td>
                <td><%= user.sUserQQ %></td>
                <td class="am-hide-sm-only"><%= user.sUserType %></td>
                <td class="am-hide-sm-only"><%= user.nBalance %></td>
                <td class="am-hide-sm-only"><%= user.sSignUpDate %></td>
                <td class="am-hide-sm-only"><%= user.sUserState %></td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <form method="post" action="/admin/user/active" style="display: inline-block">
                        <input style="display:none" name="nId" value=<%= user.nId %> />
                        <button type="submit" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>启动</button>
                      </form>
                      <form method="post" action="/admin/user/lock" style="display: inline-block">
                        <input style="display:none" name="nId" value=<%= user.nId %> />
                        <button type="submit" class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-pencil-square-o"></span>锁定</button>
                      </form>
                      <form style="display: inline-block">
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-pencil-square-o"></span>删除</button>
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
              <% }%>
              </tbody>
            </table>
            <div class="am-cf">
              共 15 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">«</a></li>
                  <li class="am-active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>


<!--footer and base js begin-->
<% include admin-footer.ejs %>
<!--footer and base js end-->
</body>
</html>
